<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="/styles_index.css">
</head>
<body>
  <h1>404 - Page not found</h1>
  <p>The Page is not found!</p>
  <a href="/">Back to the Main Page</a>
</body>
</html>